<div class="row fighters">
    <div class="eight columns offset-by-two inset-by-two">
        {{#each playerArr.players}}
            <img class="thumbnail-image" src="/images/players_edited/{{id}}.jpg"> 
        {{/each}}
    </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<div class="row">
    {{#each currentPlayers.players}}
        <div class="six columns">
            <h4 class="center">{{name}}</h4>
        </div>
    {{/each}}
</div>

<div class="spacer"></div>

<div class="row">
    {{#each currentPlayers.players}}
        <div class="six columns">
            <img class="fighter-image" src="/images/players_edited/{{id}}.jpg">
            <ul class="proplist">
                {{#each properties}}
                    <li><b>{{@key}}:</b> {{this.[1]}}</li>
                {{/each}}
            </ul>
        </div>
    {{/each}}
</div>

<div class="row">
    <div class="twelve columns">
        <h6 class="center">Who wins??</h6>
        <form action="/fight" method="post">
            {{#each currentPlayers.unMatchedProps}}
                Who beats who at {{@index}}? 
                <input type="radio" name="{{@index}}" value="{{fightername1using../contextshift}}"> {{fightername1using../contextshift}}
                <input type="radio" name="{{@index}}" value="{{fightername2using../contextshift}}"> {{fightername2using../contextshift}}
            {{/each}}
        </form>
    </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>