<div class="row fighters">
    {{!-- <div class="offset-by-two"></div>
        {{#each playerArr}}
            <div class="one column thumbnail">
                <img class="thumbnail-image" src="../images/{{playerArr.id}}.jpg">
            </div>
        {{/each}}
    <div class="inset-by-two"></div> --}}
    <div class="row">
            <div class="twelve columns">
                <h1>WINNER: {{winner.name}}</h1>
            </div>
    </div>
    <div class="row">
            <div class="twelve columns">
                <img src="{{winner.img}}">
                <ul>
                {{#each clashes}}
                <li>{{property}}: {{winner}}</li>
                  {{/each}}
                </ul>
            </div>
    </div>
    <div class="button-div">
      <form action="/tournament" method="get">
          <input type="submit" value="Continue Tournament" />
      </form>
    </div>
</div>
